@using PizzaShopApplication.Models.Data.Entities.Data;
@model IEnumerable<Cart>
@{
    ViewData["Title"] = "Корзина";
}

<table>
    <tr>
        <th>Название товара</th>
        <th>Количество</th>
        <th>Цена(за шт.)</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Product.Name</td>
            <td>@item.Quantity</td>
            <td>@item.Product.Price</td>
            <td>
                <form method="post" action="/Cart/DeleteItemFromCart">
                    <input hidden type="text" name="itemId" value="@item.Product.Id" />
                    <input type="submit" class="btn btn-default" value="-" />
                </form>
            </td>
            <td>
                <form method="post" action="/Cart/AddItemToCartChangeEvent">
                    <input hidden type="text" name="itemId" value="@item.Product.Id" />
                    <input type="submit" class="btn btn-default" value="+" />
                </form>
            </td>
        </tr>
    }
</table>
<h3>Итоговая сумма заказа:@ViewBag.TotalSum</h3>
<form method="get" action="/Order/SetOrder">
    <input hidden type="text" name="totalSum" value="@ViewBag.TotalSum" />
    <input  type="submit" class="btn btn-default" value="Перейти к заказу" />
</form>