@using PizzaShopApplication.Models.Pagination;
@model IndexViewModel
@{
    ViewData["Title"] = "Клиентские заказы";
}
@*подключаем все tag-хелперы*@
@addTagHelper *, PizzaShopApplication
<form method="get">
    <div class="form-inline form-group">
        <label class="control-label">Номер заказа:</label>
        <input name="orderId" class="form-control" />

        <label class="control-label">Статус заказа:</label>
        <select name="orderStatusId" asp-items="Model.FilterViewModel.OrderStatuses" class="form-control"></select>
        <input type="submit" value="Отфильровать и найти" class="btn btn-sm" />
    </div>
    <div class="form-inline form-group">
        <label class="control-label">Дата заказа:</label>
        <input min="2021-01-01" max="2045-01-01" name="date" type="date" class="form-control" />
    </div>
</form>


<table>
    <tr>
        <th>Номер заказа</th>
        <th>Дата</th>
        <th>Имя</th>
        <th>Телефон</th>
        <th>Комментарий</th>
        <th>Статус заказа</th>
    </tr>
    @foreach (var item in Model.Orders)
    {
        <tr>
            <td>
                <p>@item.Id</p>
            </td>
            <td>
                <p>@item.OrderDateTime</p>
            </td>
            <td>
                <p>@item.ClientName</p>
            </td>
            <td>
                <p>@item.Phone</p>
            </td>
            <td>
                <p>@item.Comment</p>
            </td>
            <td>
                <p>@item.OrderStatus.Status</p>
            </td>
            <td>
                <form method="get" action="/Order/GetConcreteOrder">
                    <input hidden name="userCartId" value="@item.UserCartForeignKey.ToString()" />
                    <input hidden name="orderId" value="@item.Id" />
                    <input type="submit" class="btn alert-dark" value="Показать" />
                </form>
            </td>
        </tr>
    }
</table>
<page-link page-model="Model.PageViewModel" page-action="GetOrders"></page-link>